html{
	padding: 0px 0px 0px 0px;
	margin: 0px;
}
body
{
	margin: 0px;
}
#line1{
	padding-top: 10px;
}
.top p{
	color: rgb(105,105,105);
	margin-left: 180px; 
	font-size: 15px;
	font-weight: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 2px;
	opacity: 0.72;
}
.top h1{
	text-align: center;
	color: rgb(188, 155, 93);
	font-family: 'Roboto', sans-serif;
	font-weight: 0px;
	letter-spacing: 6px;
	font-size: 50px;
	padding-bottom: 22px;
	padding-top: 0px;
	margin: 0px;
}
.firstele li a{
	color: rgb(188, 155, 93);
}

ul {
    list-style-type: none;
    margin: 0;
	overflow: hidden;
    background-color: #ffffff;
}
li {
	text-shadow: 0.15px 0.15px;
    float: left;
    font-size: 7px;
    font-family: 'Open Sans', sans-serif;
}

li a {
    display: inline-block;
    color: rgb(105,105,105);
    text-align: center;
    padding: 10px 0px;
	padding-left: 150px;
	font-size: 15px;
	width: 100%;
	line-height: 1.4em;
}
.img1{
	margin: 0px;
	height: 650px;
	width: 100%;
	overflow: hidden;
	/*background-position: -193px 17px; */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('images/image6.jpg');
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed;
    margin: 0 0;
    padding: 0;
} 

.bigboxcontainer {
	text-align: center;
}

.bigbox{
	display: inline-block;
}
.box1 {
	padding-top: 105px;
	float: left;
}
.p1{
	padding-top: 9px;
}
.i2 img,.i3 img,.i4 img,.i5 img
{
	height: auto;
	width: 600px;
}

.i3
{
	padding-top: 20px;
}
#topmost{
	color: rgb(105,105,105);
	margin-bottom: -23px;
	text-shadow: 0.15px 0.15px;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
}
.t1 i h2{
	font-family: serif;
	color: rgb(188, 155, 93);
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 4px;
}
.t1 p{
	font-size: 25px;
    font-family: 'helvetica';
    margin-bottom: -3px;
    color: rgb(105,105,105);
}
.t1 a{
	text-decoration: none;
	font-size: 15px;
	color: black;
	padding-top: 10px;
	text-shadow: 0.15px 0.15px;
	font-family: 'Open Sans', sans-serif;
}
.t2 i h2{
	font-family: serif;
	color: rgb(188, 155, 93);
	font-size: 40px;
	padding-left: 35px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.t2 p{
	padding-bottom: 5px;
	font-size: 25px;
    font-family: 'helvetica';
    padding-left: 35px;
    letter-spacing: 0.6px;
    margin-bottom: -4px;
    color: rgb(105,105,105);
}
.t2 a{
	text-decoration: none;
	font-size: 15px;
	color: black;
	padding-left: 35px;
	padding-top: 10px;
	text-shadow: 0.15px 0.15px;
	font-family: 'Open Sans', sans-serif;
}
.t1 a:hover{
	color: rgb(188, 155, 93);
}
.t2 a:hover{
	color: rgb(188, 155, 93);
}
.box2{
	float: left;
	padding-bottom: 25px;
}
.t2 h2{
	margin-top: 0px;
}
.i4{
	padding-left: 100px;
	padding-top: 50px;
}
.i5{
	padding-left: 100px;
	padding-top: 20px;
}
.box3{
	width: 50%;
	height: 500px;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	margin:auto;
	background-size: contain;
}
img.secondLastImg{
	width: 100%;
}
.in{
	height: 100px;
	width: 209px;
	margin: auto;
	background-color: white;
	position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.in p
{	
	letter-spacing: 1px;
	text-align: center;
	color: rgb(105,105,105);
}
.in a{
	color: rgb(69, 69, 69);
	text-decoration: none;
	font-size: 25px;
	margin-top: -3px;
}
.in a:hover{
	color: rgb(188, 155, 93);
}
.bottext p{
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
	padding-top: 40px;
	line-height: 0px;
	color: rgb(105,105,105);
}
.bottext h2{
	text-align: center;
	padding-top: 0px;
	font-family: 'Gabriela', serif;
	color: rgb(188, 155, 93);
	font-size: 40px;
	padding-bottom: 10px;
}
div.containsClass{
	/* height: 270px;
	width: 1258px;
	opacity: 0.72;
	margin-top: 20px;
	margin-bottom: -7px;
	background-position: 4px 90px; 
	background-image: url("images/image5.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 0px; */
	margin: 0px;
	height: 650px;
	width: 100%;
	overflow: hidden;
	/*background-position: -193px 17px; */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('images/image5.jpg');
	opacity: 0.85;
}

img.img {
	width: 100%;
}
.last p{
	padding-top: 35px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 15px;
	text-shadow: 0.35px 0.35px;
    margin-left: 67.5%;
}
.last{	
	margin-top: 0px;
	width: 100%;
	float: left;
	height: 240px;
	padding-top: 0px;
	background-color: rgb(188, 155, 93);
}

.clear {
	clear: both;
}